body {
    margin : 0;
    padding : 0;
}


#homePage{
    background-color: rgb(201, 247, 255);
    padding: 10px;
    text-align: center;
}

#userNameInt {
    padding-bottom: 5px;
}

#passInt {
    padding-bottom: 5px;
}